.animated-link {
  color: blue;
  text-decoration: none;
  position: relative;
  display: inline-block;
  animation: shake 1s infinite ease-in-out;
  animation-delay: 50s; /* Wartezeit zwischen den Animationen */
}

.animated-link:hover {
  color: green;
  text-decoration: underline;
}

.map-container {
  margin-bottom: 20px;
  /* Fügt einen Abstand nach der Karte ein */
}

.summary-box {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#zusammenfassung {
  margin-top: 0px;
  /* Entfernt den unerwünschten oberen Abstand */
  padding-top: 10px;
  /* Optional: Etwas Abstand innerhalb der Box */
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-2px, 2px) rotate(-2deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(2deg);
  }
  60% {
    transform: translate(-2px, 2px) rotate(-2deg);
  }
  80% {
    transform: translate(2px, -2px) rotate(2deg);
  }
}
