.animated-link {
    color: blue;
    text-decoration: none;
    position: relative;
    display: inline-block;
    animation: shake 1s infinite ease-in-out;
    animation-delay: 50s;
    /* Wartezeit zwischen den Animationen */
}

.animated-link:hover {
    color: rgb(152, 255, 152);
    text-decoration: underline;
}

.map-container {
    margin-bottom: 20px;
    /* Fügt einen Abstand nach der Karte ein */
}

.summary-box {
    background-color: #f2fdf7;
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.summary-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

