@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: white;
}


body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

:root {
  --header-height-desktop: 60px; /* Höhe für Desktop */
  --header-height-mobile: 30px; /* Höhe für Mobile */
}

@media (max-width: 768px) {
  :root {
    --header-height: var(--header-height-mobile);
  }
}

@media (min-width: 769px) {
  :root {
    --header-height: var(--header-height-desktop);
  }
}

body {
  margin: 0; /* Nur margin setzen */
}

main {
  padding-top: var(--header-height, 60px);
}

/* Globale CSS für den spezifischen Container */
.container-style>* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--foreground);
  margin-left: 5%; /* Abstand links */
  margin-right: 5%; /* Abstand rechts */
  /* Jetzt passt es sich an */
  margin-top: 2rem; /* Abstand nach oben */
}

h2 {               
  font-size: 30px; /* Schriftgröße */
  color: rgb(71, 124, 40); /* Farbe */
  font-weight: bold; /* : Schriftstil */
  margin-bottom: 1rem; /* : Abstand nach unten */
  margin-top: 2rem; /* : Abstand nach oben */
}

h3 {

  font-size: 20px; /* Überschrift */
  color: green; /* Schriftgröße */
  font-weight: bold;
  margin-top: 1rem; /* : Abstand nach oben */
}

/* Home page background styles */
.home-background {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

.welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
}

.welcome-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.welcome-text {
  font-size: 1.2rem;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.nav-button-left {
  left: 10px;
}

.nav-button-right {
  right: 10px;
}
