@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: white;
}


body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

:root {
  --header-height-desktop: 60px; /* Höhe für Desktop */
  --header-height-mobile: 30px; /* Höhe für Mobile */
}

@media (max-width: 768px) {
  :root {
    --header-height: var(--header-height-mobile);
  }
}

@media (min-width: 769px) {
  :root {
    --header-height: var(--header-height-desktop);
  }
}

body {
  margin: 0; /* Nur margin setzen */
}

main {
  padding-top: var(--header-height, 60px);
}

/* Globale CSS für den spezifischen Container */
.container-style>* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--foreground);
  /* Jetzt passt es sich an */
}

h2 {               
  font-size: 30px; /* Schriftgröße */
  color: rgb(71, 124, 40); /* Farbe */
  font-weight: bold; /* : Schriftstil */
  margin-bottom: 1rem; /* : Abstand nach unten */
  margin-top: 1rem; /* : Abstand nach oben */
}

h3 {

  font-size: 20px; /* Überschrift */
  color: green; /* Schriftgröße */
  font-weight: bold;
  margin-top: 1rem; /* : Abstand nach oben */
}
