@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Kann entfernt werden, da nicht genutzt */
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: none; /* Entfernt die Standard-Hintergrundfarbe */
}

:root {
  --header-height-desktop: 60px; /* Höhe für Desktop */
  --header-height-mobile: 30px; /* Höhe für Mobile */
}

@media (max-width: 768px) {
  :root {
    --header-height: var(--header-height-mobile);
  }
}

@media (min-width: 769px) {
  :root {
    --header-height: var(--header-height-desktop);
  }
}

body {
  margin: 0; /* Nur margin setzen */
}

main {
  padding-top: var(--header-height, 60px);
}

/* Globale CSS für den spezifischen Container */
.container-style > * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--foreground); /* Gleicher Textfarbe wie im Root */
}

/* Globale CSS für den spezifischen Container */
section {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--foreground); /* Gleicher Textfarbe wie im Root */
}

h2 {                /* Überschrift */
  font-size: 30px; /* Schriftgröße */
  color: purple; /* Farbe */
  font-weight: bold; /* Optional: Schriftstil */
  margin-bottom: 1rem; /* Optional: Abstand nach unten */
}
